{% extends 'base.html' %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h2 mb-0 text-dark">Normandie</h1>
                    </div>


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Nombre de logements -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Nombre de logements</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ "{:,.0f}".format(data['nb_log'].sum())|replace(',', ' ') }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-home fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nombre précarité énergétique -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1"> Nombre de foyers en précarité énergétique
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ "{:,.0f}".format(data[data['precarite_energetique']==5]['nb_log'].sum())|replace(',', ' ') }}</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            style="width: 21%" aria-valuenow="21" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-plus-square fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nombre potentiel énergétique -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Potentiel énergétique détécté</div>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ "{:,.0f}".format(data[data['potentiel_energetique']==1]['nb_log'].sum())|replace(',', ' ') }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-angle-double-up fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Nb logement CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Répartition des logements</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_logement_normandie" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="normandie_logement_barchart"></canvas>
                                        <script>
                                            var data_normandie_logement = JSON.parse('{{ data.groupby("libelle_departement").sum("nb_log").reset_index().to_json(orient="records") | safe }}');
                                            var labels_normandie_logement = data_normandie_logement.map(function(entry) { return entry.libelle_departement; });
                                            var values_normandie_logement = data_normandie_logement.map(function(entry) { return entry.nb_log; });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PRECA CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Répartition du score de précarité (5: le plus haut) énergétique par département</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_preca_normandie" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="normandie_preca_barchart"></canvas>
                                        <script>
                                            var data_normandie_preca = JSON.parse('{{ data_preca.to_json(orient="records") | safe }}');
                                            var data_normandie_preca_1 = JSON.parse('{{ data_preca[data_preca["precarite_energetique"]==1].to_json(orient="records") | safe }}');
                                            var data_normandie_preca_2 = JSON.parse('{{ data_preca[data_preca["precarite_energetique"]==2].to_json(orient="records") | safe }}');
                                            var data_normandie_preca_3 = JSON.parse('{{ data_preca[data_preca["precarite_energetique"]==3].to_json(orient="records") | safe }}');
                                            var data_normandie_preca_4 = JSON.parse('{{ data_preca[data_preca["precarite_energetique"]==4].to_json(orient="records") | safe }}');
                                            var data_normandie_preca_5 = JSON.parse('{{ data_preca[data_preca["precarite_energetique"]==5].to_json(orient="records") | safe }}');
                                            var labels_normandie_preca = data_normandie_preca_1.map(function(entry) { return entry.precarite_energetique; });
                                            var labels_normandie_departement = data_normandie_preca_1.map(function(entry) { return entry.libelle_departement; });
                                            var values_normandie_preca_1 = data_normandie_preca_1.map(function(entry) { return entry.taux_preca; });
                                            var values_normandie_preca_2 = data_normandie_preca_2.map(function(entry) { return entry.taux_preca; });
                                            var values_normandie_preca_3 = data_normandie_preca_3.map(function(entry) { return entry.taux_preca; });
                                            var values_normandie_preca_4 = data_normandie_preca_4.map(function(entry) { return entry.taux_preca; });
                                            var values_normandie_preca_5 = data_normandie_preca_5.map(function(entry) { return entry.taux_preca; });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DPE CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Répartition (%) des DPE par département</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_dpe_normandie" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="normandie_dpe_barchart"></canvas>
                                        <script>
                                            var data_normandie_dpe = JSON.parse('{{ data_dpe.to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_a = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="A"].to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_b = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="B"].to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_c = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="C"].to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_d = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="D"].to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_e = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="E"].to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_f = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="F"].to_json(orient="records") | safe }}');
                                            var data_normandie_dpe_g = JSON.parse('{{ data_dpe[data_dpe["dpe"]=="G"].to_json(orient="records") | safe }}');

                                            var labels_normandie_dpe = data_normandie_dpe_a.map(function(entry) { return entry.dpe; });
                                            var labels_normandie_departement_dpe = data_normandie_dpe_a.map(function(entry) { return entry.libelle_departement; });

                                            var values_normandie_dpe_a = data_normandie_dpe_a.map(function(entry) { return entry.taux_dpe; });
                                            var values_normandie_dpe_b = data_normandie_dpe_b.map(function(entry) { return entry.taux_dpe; });
                                            var values_normandie_dpe_c = data_normandie_dpe_c.map(function(entry) { return entry.taux_dpe; });
                                            var values_normandie_dpe_d = data_normandie_dpe_d.map(function(entry) { return entry.taux_dpe; });
                                            var values_normandie_dpe_e = data_normandie_dpe_e.map(function(entry) { return entry.taux_dpe; });
                                            var values_normandie_dpe_f = data_normandie_dpe_f.map(function(entry) { return entry.taux_dpe; });
                                            var values_normandie_dpe_g = data_normandie_dpe_g.map(function(entry) { return entry.taux_dpe; });

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- POTENTIEL CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Taux de logements à potentiel énergétique (pour score de précarité à 5)</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_potentiel_normandie" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="normandie_potentiel_barchart"></canvas>
                                        <script>
                                            var data_nomrandie_potentiel = JSON.parse('{{ data_potentiel.to_json(orient="records") | safe }}');
                                            var labels_normandie_potentiel = data_nomrandie_potentiel.map(function(entry) { return entry.libelle_departement; });
                                            var values_normandie_potentiel = data_nomrandie_potentiel.map(function(entry) { return entry.taux_potentiel; });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- TOP 20 villes préca -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Top 20 villes où il y a le plus de précarité énergétique</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadCSV_ville_normandie" href="#">CSV</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTablenormandie" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Commune</th>
                                                    <th>Nombre de logements</th>
                                                    <th>Nombre précarité énergétique</th>
                                                    <th>Nombre haut potentiel énergétique</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in data_commune_preca.iterrows() %}
                                                <tr>
                                                    <td>{{ row[1].libelle_commune_insee }}</td>
                                                    <td>{{ row[1].nb_log }}</td>
                                                    <td>{{ row[1].precarite_energetique }}</td>
                                                    <td>{{ row[1].potentiel_energetique }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

 {% endblock %}