{% extends 'base.html' %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h2 mb-0 text-dark">Orne</h1>
                    </div>


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Nombre de logements -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Nombre de logements</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ "{:,.0f}".format(data['nb_log'].sum())|replace(',', ' ') }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-home fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nombre précarité énergétique -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1"> Nombre de foyers en précarité énergétique
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ "{:,.0f}".format(data[data['precarite_energetique']==5]['nb_log'].sum())|replace(',', ' ') }}</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            style="width: 18%" aria-valuenow="18" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-plus-square fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nombre potentiel énergétique -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Potentiel énergétique détécté</div>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ "{:,.0f}".format(data[data['potentiel_energetique']==1]['nb_log'].sum())|replace(',', ' ') }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-angle-double-up fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- DPE CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">DPE</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_dpe_orne" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="orne_dpe_barchart"></canvas>
                                        <script>
                                            var data_orne_dpe = JSON.parse('{{ data.groupby("dpe").sum("nb_log").reset_index().to_json(orient="records") | safe }}');
                                            var labels_orne_dpe = data_orne_dpe.map(function(entry) { return entry.dpe; });
                                            var values_orne_dpe = data_orne_dpe.map(function(entry) { return entry.nb_log; });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- GES CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">GES</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_ges_orne" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="orne_ges_barchart"></canvas>
                                        <script>
                                            var data_orne_ges = JSON.parse('{{ data.groupby("ges").sum("nb_log").reset_index().to_json(orient="records") | safe }}');
                                            var labels_orne_ges = data_orne_ges.map(function(entry) { return entry.ges; });
                                            var values_orne_ges = data_orne_ges.map(function(entry) { return entry.nb_log; });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SCORE PRECA CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Score de précarité énergétique (du moins au plus précaire)</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_preca_orne" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="orne_preca_barchart"></canvas>
                                        <script>
                                            var data_orne_preca = JSON.parse('{{ data[["precarite_energetique", "nb_log"]].groupby("precarite_energetique").sum("nb_log").reset_index().to_json(orient="records") | safe }}');
                                            var labels_orne_preca = data_orne_preca.map(function(entry) { return entry.precarite_energetique; });
                                            var values_orne_preca = data_orne_preca.map(function(entry) { return entry.nb_log; });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CONFIANCE CHART -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Répartition de l'indice de confiance</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadPNG_confiance_orne" href="#">PNG</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="orne_confiance_piechart"></canvas>
                                        <script>
                                            var data_orne_confiance = JSON.parse('{{ data[["confiance", "geometry", "nb_log"]].groupby("confiance").sum("nb_log").reset_index().rename(columns={"nb_log":"nombre"}).sort_values(by="confiance").to_json(orient="records") | safe }}');
                                            var labels_orne_confiance = data_orne_confiance.map(function(entry) { return entry.confiance; });
                                            var values_orne_confiance = data_orne_confiance.map(function(entry) { return entry.nombre; });
                                        </script>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Confiance élevée
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Confiance moyenne
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-secondary"></i> Confiance faible
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- TOP 20 villes préca -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Top 20 villes où il y a le plus de précarité énergétique</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exportation:</div>
                                            <a class="dropdown-item" id="downloadCSV_ville_orne" href="#">CSV</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTableorne" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Commune</th>
                                                    <th>Nombre de logements</th>
                                                    <th>Nombre précarité énergétique</th>
                                                    <th>Nombre haut potentiel énergétique</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in data_commune_preca.iterrows() %}
                                                <tr>
                                                    <td>{{ row[1].libelle_commune_insee }}</td>
                                                    <td>{{ row[1].nb_log }}</td>
                                                    <td>{{ row[1].precarite_energetique }}</td>
                                                    <td>{{ row[1].potentiel_energetique }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

 {% endblock %}