{% extends 'base.html' %}
{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <h1 class="mb-4">Données par commune</h1>
                    <form name="filterForm" method="POST" id="filterFormId">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dpeFilter">DPE :   </label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxA" value="A">
                                        <label class="form-check-label" for="dpeCheckboxA">A</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxB" value="B">
                                        <label class="form-check-label" for="dpeCheckboxB">B</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxC" value="C">
                                        <label class="form-check-label" for="dpeCheckboxC">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxD" value="D">
                                        <label class="form-check-label" for="dpeCheckboxD">D</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxE" value="E">
                                        <label class="form-check-label" for="dpeCheckboxE">E</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxF" value="F">
                                        <label class="form-check-label" for="dpeCheckboxF">F</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dpeCheckboxG" value="G">
                                        <label class="form-check-label" for="dpeCheckboxG">G</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gesFilter">GES :   </label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxA" value="A">
                                        <label class="form-check-label" for="gesCheckboxA">A</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxB" value="B">
                                        <label class="form-check-label" for="gesCheckboxB">B</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxC" value="C">
                                        <label class="form-check-label" for="gesCheckboxC">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxD" value="D">
                                        <label class="form-check-label" for="gesCheckboxD">D</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxE" value="E">
                                        <label class="form-check-label" for="gesCheckboxE">E</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxF" value="F">
                                        <label class="form-check-label" for="gesCheckboxF">F</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gesCheckboxG" value="G">
                                        <label class="form-check-label" for="gesCheckboxG">G</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="precaFilter">Score précarité :   </label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="precaCheckbox1" value=1>
                                        <label class="form-check-label" for="precaCheckbox1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="precaCheckbox2" value=2>
                                        <label class="form-check-label" for="precaCheckbox2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="precaCheckbox3" value=3>
                                        <label class="form-check-label" for="precaCheckbox3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="precaCheckbox4" value=4>
                                        <label class="form-check-label" for="precaCheckbox4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="precaCheckbox5" value=5>
                                        <label class="form-check-label" for="precaCheckbox5">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="confianceFilter">Confiance :   </label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="confianceCheckbox1" value=1>
                                        <label class="form-check-label" for="confianceCheckbox1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="confianceCheckbox2" value=2>
                                        <label class="form-check-label" for="confianceCheckbox2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="confianceCheckbox3" value=3>
                                        <label class="form-check-label" for="confianceCheckbox3">3</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="potentielFilter">Potentiel énergétique :   </label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="potentielCheckboxOui" value="oui">
                                        <label class="form-check-label" for="potentielCheckboxOui">Oui</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group d-flex">
                                    <input type="text" id="codeINSEEFilter" class="form-control" placeholder="Entrez le code INSEE">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center justify-content-between">
                                <button type="submit" id="filterButtonTable" class="btn btn-primary">Filtrer</button>
                                <button type="button" id="resetButtonTable" class="btn btn-secondary">Réinitialiser</button>
                            </div>
                        </div>
                    </form>


                    <!-- Page Heading -->
                    <p class="mb-4"></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-dark">Top 20 villes où il y a le plus de précarité énergétique</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Exportation:</div>
                                        <a class="dropdown-item" id="downloadCSV_datatable" href="#">CSV</a>
                                    </div>
                                </div>
                            </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Departement</th>
                                            <th>Commune</th>
                                            <th>Adresse</th>
                                            <th>Nombre de logements</th>
                                            <th>DPE</th>
                                            <th>GES</th>
                                            <th>Score Précarite</th>
                                            <th>Confiance</th>
                                            <th>Potentiel - Commune</th>
                                            <th>Potentiel - Adresse</th>
                                            <th>Potentiel - DPE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Les données seront affichées ici via JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

 {% endblock %}